<div class="image">
  <img src="<%= entry.data.carousel_image_url %>" width="940" height="375" alt="">
</div>
<div class="overlay overlay-a">
  <div class="overlay-content">
    <h2 class="label"><%= entry.data.title %></h2>
    <p class="description"><%= entry.data.description %></p>
    <a class="button" href="<%= url_for entry %>">View Case Study</a>
  </div>
</div>