<div class="content">
    <h1 class="heading-b heading-minor text-center">Clients</h1>
</div>
<div class="content clients-container space-b">
    <div class="clients">
        <div class="row">
            <a href="#"><img src="img/client-thumbnails/austin-sunshine-camps.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/unesco.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/kipp.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/active-life.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/child-advocacy.png" width="60" height="60" alt=""></a>
        </div>
        <div class="row">
            <a href="#"><img src="img/client-thumbnails/ann-richards.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/aisd.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/galveston.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/explore_austin.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/ymbl.png" width="60" height="60" alt=""></a>    
        </div>
        <div class="row">
            <a href="#"><img src="img/client-thumbnails/texas-book.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/time-texas.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/greenlight.png" width="60" height="60" alt=""></a>
            <a href="#"><img src="img/client-thumbnails/dell.png" width="60" height="60" alt=""></a>
        </div>
    </div> 
</div>
