<footer class="footer space-a">
    <div class="content">
        <div class="column column-4 space-b">
            <h6 class="text">Contact</h6>
            <div class="text">
                <a href="tel:+15126775511">512-677-5511</a><br>
                <a href="mailto:info@onestoryproductions.com">info@onestoryproductions.com</a>
            </div>
        </div>
        <div class="column column-4 space-b">
            <h6 class="text">Connect</h6>
            <nav class="social-nav">
                <a href="http://vimeo.com/channels/onestory"><i class="icon icon-vimeo"></i></a>
                <a href="http://www.youtube.com/user/onestoryproductions"><i class="icon icon-youtube"></i></a>
                <a href="http://www.facebook.com/onestoryproductions"><i class="icon icon-facebook"></i></a>
            </nav>
        </div>
        <div class="column column-4 space-b">
            <img src="img/slider-laurels.png" border="0" width="300" />
            <span class="legal">&copy; 2014 One Story Productions</span>
        </div>
    </div>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8263953-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>