<footer class="footer space-a">
    <div class="content">
        <div class="column column-4 space-b">
            <h6 class="text">Contact</h6>
            <div class="text">
                <a href="tel:+15122348765">(512) 234-8765</a><br>
                <a href="mailto:info@onestoryproductions.com">info@onestoryproductions.com</a>
            </div>
        </div>
        <div class="column column-4 space-b">
            <h6 class="text">Connect</h6>
            <nav class="social-nav">
                <a href="http://vimeo.com/channels/onestory"><i class="icon icon-vimeo"></i></a>
                <a href="http://www.facebook.com/onestoryproductions"><i class="icon icon-youtube"></i></a>
                <a href="http://www.youtube.com/user/onestoryproductions"><i class="icon icon-facebook"></i></a>
            </nav>
        </div>
        <div class="column column-4 space-b">
            <span class="legal">&copy; 2014 One Story Productions</span>
        </div>
    </div>
</footer>