            <div class="slider-container">
                <div class="slider slider-auto has-dots testimonials">
                    <ul>
                        
                        <li class="slide">
                            <div class="column column-2 hide-mobile"></div>
                            
                                <blockquote class="testimonial">
                                    <p>"Aaron was a true professional throughout the process and captured the spirit of each project. "</p>   
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar hide-mobile" src="/img/testimonials/UNESCO-logo.png" width="50" height="50" alt="">
                                            <div class="text name">UNESCO</div>
                                            
                                        </div>
                                    </footer>
                                </blockquote>                                   
                            
                            <div class="column column-2 hide-mobile"></div>
                        </li>
                        
                        <li class="slide">
                            <div class="column column-2 hide-mobile"></div>
                            
                                <blockquote class="testimonial">
                                    <p>"We are so fortunate to have found the rare storytelling ability with Aaron and One Story.  With One Story, we know that our story is in very good hands."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar hide-mobile" src="/img/testimonials/baker_harrell.jpeg" width="50" height="50" alt="">
                                            <div class="text name">Baker Harrell</div>
                                            <div class="text role">CEO, It’s Time Texas <br/><span style="font-size: 11px; color: #808080;">(Formerly ACTIVE Life)</span></div>
                                        </div>
                                    </footer>
                                </blockquote>                                   
                            
                            <div class="column column-2 hide-mobile"></div>
                        </li>
                        
                        <li class="slide">
                            <div class="column column-2 hide-mobile"></div>
                            
                                <blockquote class="testimonial">
                                    <p>"One Story Productions has given us a voice. Aaron is a true storyteller with a camera."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar hide-mobile" src="/img/testimonials/jamie-matthews.png" width="50" height="50" alt="">
                                            <div class="text name">Jamie Matthews</div>
                                            <div class="text role">Boardmember, Explore Austin</div>
                                        </div>
                                    </footer>
                                </blockquote>
                            
                            <div class="column column-2 hide-mobile"></div>
                        </li>
                        
                        <li class="slide">
                            <div class="column column-2 hide-mobile"></div>
                            
                                <blockquote class="testimonial">
                                    <p>"Each production was professionally and skillfully realized, keeping time and cost to a minimum. There is no question that we will be working with OSP again."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar hide-mobile" src="/img/testimonials/LorenzoThione.jpg" width="50" height="50" alt="">
                                            <div class="text name">Lorenzo Thione</div>
                                            <div class="text role">Sing Out Louise Productions</div>
                                        </div>  
                                    </footer>
                                </blockquote>
                            
                            <div class="column column-2 hide-mobile"></div>
                        </li>
                    </ul>
                </div>
            </div>
        
