---
title: Contact
---
   <div class="main-content">
        <section>
            <div class="content">
                <div class="column column-12 space-a">
                    <h1 class="heading-a heading-major">Contact</h1>
                </div>
            </div>
            <div class="content">
                <div class="column column-7 space-c">
                    <h2 class="heading-b heading-minor">Drop us a line:</h2>
                    <form>
                        <div class="input-container space-c">
                            <input class="text" type="text" placeholder="Name">
                        </div>
                        <div class="input-container space-c">
                            <input class="text" type="text" placeholder="you@email.com">
                        </div>
                        <div class="input-container space-c">
                            <textarea class="text" placeholder="What can we help you with?" rows="5"></textarea>
                        </div>
                        <a class="button" href="#">SEND MESSAGE</a>
                    </form>
                </div>
                <div class="column column-4 column-right space-b">
                    <div class="testimonial-container">
                        <h2 class="heading-b heading-minor">Testimonials</h2>
                        <div class="slider-container">
                            <div class="slider slider-show">
                                <ul>
                                    <li class="slide">
                                        <blockquote class="testimonial">
                                            <p>One Story and Aaron Weiss are the shepherds of our story at IT’S TIME TEXAS.  As a cause, our success is dependent upon our ability to authentically capture and harness the stories of those with whom we work and are honored to serve.  We, therefore, hold storytelling, especially through the medium of video, in the highest regard.</p>
                                            <p>While storytelling is one of the oldest human traditions, it takes a special talent to be able to collect often diverse and distinct stories and weave together a coherent and compelling narrative that remains true to all individual contributors.  We are so fortunate to have found that rare talent in Aaron and One Story.  With One Story, we know that IT’S TIME TEXAS’ story is in very good hands.</p>
                                            <footer class="space-c">
                                                <div class="attribution">
                                                    <img class="avatar" src="img/testimonials/jamie-matthews.png" width="50" height="50" alt="">
                                                    <div class="text name">Baker Harrell</div>
                                                    <div class="text role">CEO, It’s Time Texas (Formerly ACTIVE Life)</div>
                                                </div>
                                            </footer>
                                        </blockquote>                                   
                                    </li>
                                    <li class="slide">
                                        <blockquote class="testimonial">
                                            <p>Aaron has done an incredible job of capturing our “story” at Explore Austin. He immerses himself in the culture and vision of the organization. By doing so... One Story Productions has given us a voice. Aaron is a true storyteller with a camera.</p>
                                            <footer class="space-c">
                                                <div class="attribution">
                                                    <img class="avatar" src="img/testimonials/jamie-matthews.png" width="50" height="50" alt="">
                                                    <div class="text name">Jamie Matthews</div>
                                                    <div class="text role">Boardmember, Explore Austin</div>
                                                </div>
                                            </footer>
                                        </blockquote>
                                    </li>
                                    <li class="slide">
                                        <blockquote class="testimonial">
                                            <p>One Story Productions has been an invaluable partner in the documentation and development of Allegiance - A New American musical, through all of its stages. Sing Out Louise Productions partnered with One Story Productions to shoot high-quality filmed version of each developmental productions, readings, workshop, etc. of Allegiance which at each stage allowed the creative team to review and further improve the work, as well as proving an amazingly effective instrument to showcase the production to potential investors, producers and partners, with great effect, and maintaining costs under control. Each production was professionally and skillfully realized, keeping time and cost to a minimum, and Aaron Weiss and his collaborators worked diligently with our producers to satisfy the storytelling needs and providing a final product of the highest quality. There is question that we would be working with OSP again.</p>
                                            <footer class="space-c">
                                                <div class="attribution">
                                                    <img class="avatar" src="img/testimonials/jamie-matthews.png" width="50" height="50" alt="">
                                                    <div class="text name">Lorenzo Thione</div>
                                                    <div class="text role">Sing Out Louise Productions</div>
                                                </div>
                                            </footer>
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>                    
                    </div>   
                </div>    
            </div>
        </section>       
    </div>