---
title: Testimonials
---

<section>
    <div class="content">
        <div class="column column-12 space-a">
            <h1 class="heading-a heading-major">Testimonials</h1>
            <p class="large">Some nice things that our clients have said about our work.</p>
            <p></p>
        </div>
        <div class="column column-7">
            <blockquote class="testimonial">
                                <p>"Aaron was a true professional throughout the process and captured the spirit of each project. The films helped our efforts to communicate the impact that the International Fund for Cultural Diversity (IFCD) was making on the ground and to convince our Parties that their financial contributions supported sustainable projects."</p>   
                                <footer class="space-c">
                                    <div class="attribution">
                                        <div class="text name">UNESCO's International Fund for Cultural Diversity Team</div>

                                    </div>
                                    <img class="attribution-logo hide-mobile" src="/img/testimonials/UNESCO-logo.png" width="50" height="50" alt="" style="max-height: 45px;">
                                </footer>
                            </blockquote>  
            <hr />
        </div>
        <div class="column column-4 column-right">                
            <p><img class="full-width" src="/img/aaron-filming.jpg" width="320" height="195" alt=""></p>
        </div>
        
        <div class="column column-7">
            <blockquote class="testimonial">
                                    <p>"One Story and Aaron Weiss are the shepherds of our story at IT’S TIME TEXAS.  As a cause, our success is dependent upon our ability to authentically capture and harness the stories of those with whom we work and are honored to serve.  We, therefore, hold storytelling, especially through the medium of video, in the highest regard.</p>
                                    <p>While storytelling is one of the oldest human traditions, it takes a special talent to be able to collect often diverse and distinct stories and weave together a coherent and compelling narrative that remains true to all individual contributors.  We are so fortunate to have found that rare talent in Aaron and One Story.  With One Story, we know that IT’S TIME TEXAS’ story is in very good hands."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar" src="/img/testimonials/baker_harrell.jpeg" width="50" height="50" alt="">
                                            <div class="text name">Baker Harrell</div>
                                            <div class="text role">CEO, It’s Time Texas <span style="font-size: 11px; color: #808080;">(Formerly ACTIVE Life)</span></div>
                                        </div>
                                        <img class="attribution-logo hide-mobile" src="/img/testimonials/ITT_logo_TM.png" width="50" height="50" alt="">
                                    </footer>
                                </blockquote>
            <hr />
        </div>
        
        <div class="column column-7">
            <blockquote class="testimonial">
                                    <p>"Aaron has done an incredible job of capturing our “story” at Explore Austin. He immerses himself in the culture and vision of the organization. By doing so... One Story Productions has given us a voice. Aaron is a true storyteller with a camera."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar" src="/img/testimonials/jamie-matthews.png" width="50" height="50" alt="">
                                            <div class="text name">Jamie Matthews</div>
                                            <div class="text role">Boardmember, Explore Austin</div>
                                        </div>
                                        <img class="attribution-logo hide-mobile" src="/img/testimonials/explore-austin.png" width="117" height="50" alt="">
                                    </footer>
                                </blockquote>  
            <hr />
        </div>
        
        
        <div class="column column-7">
            <blockquote class="testimonial">
                                    <p>"One Story Productions has been an invaluable partner in the documentation and development of Allegiance - A New American musical, through all of its stages. Sing Out Louise Productions partnered with One Story Productions to shoot high-quality filmed version of each developmental productions, readings, workshop, etc. of Allegiance which at each stage allowed the creative team to review and further improve the work, as well as proving an amazingly effective instrument to showcase the production to potential investors, producers and partners, with great effect, and maintaining costs under control. Each production was professionally and skillfully realized, keeping time and cost to a minimum, and Aaron Weiss and his collaborators worked diligently with our producers to satisfy the storytelling needs and providing a final product of the highest quality. There is no question that we would be working with OSP again."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar" src="/img/testimonials/LorenzoThione.jpg" width="50" height="50" alt="">
                                            <div class="text name">Lorenzo Thione</div>
                                            <div class="text role">Sing Out Louise Productions</div>
                                        </div>
                                        <img class="attribution-logo hide-mobile" src="/img/testimonials/singoutlouise.jpg" width="117" height="50" alt="">
                                    </footer>
                                </blockquote>  
            <hr />
        </div>
        
        
        <div class="column column-7">
            <blockquote class="testimonial">
                                    <p>"In my 20-plus years of working in the nonprofit arena, Aaron is the first to provide the full range of video services that truly meets the needs of charitable organizations. He is adept at capturing the footage needed to communicate mission and message. From start to finish, Aaron is a joy to work with and consistently provides an invaluable tool for public relations, marketing, fundraising, and volunteer recruitment."</p>
                                    <footer class="space-c">
                                        <div class="attribution">
                                            <img class="avatar" src="/img/testimonials/jan_hughes.jpg" width="50" height="50" alt="">
                                            <div class="text name">Jan Hughes</div>
                                            <div class="text role">Founder &amp; Principal, J. Hughes Consulting
</div>
                                        </div>
                                        
                                    </footer>
                                </blockquote>  
        </div>
        
    </div>
</section>